streamlit==1.39.0             
openai==1.52.2                  
PyPDF2==3.0.1           
langchain>=0.2.20
langchain-core>=0.2.26
chromadb==0.5.5                
python-dotenv==1.0.0
pillow>=9.2.0
pypika==0.48.9
yfinance==0.2.47
langchain-community==0.3.3
newsapi-python==0.2.6
protobuf==3.20.3
faiss-cpu
tiktoken
pandas
requests
matplotlib
numpy
tweepy
pandas_ta